# compare different stock api providers 

It's important to make sure the quality of the gathered data is good, not much missing or wrong data. The model can only do as well as the input data. This notebook is to compare the quality of the different api provided data. 


From this [blog](https://towardsdatascience.com/comparing-the-best-free-financial-market-data-apis-158ae73c16ba), the author gives a high level comparison of 5 api providers, IEX, Tiingo, Quandl, Alpha Vantage, and WorldTradingData. The author mainly concludes that IEX, Tiingo and Quandl
have better api documentation than Alpha Vantage, and WorldTradingData.

## Alpha vantage

In [1]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt

In [2]:
# stock data API alpha_vantage, documentation https://www.alphavantage.co/documentation/
key = 'A6QPO3VBTX5UHOAU'
# Chose your output format, or default to JSON (python dict)
ts = TimeSeries(key, output_format='pandas')
ti = TechIndicators(key)

ticker='AAPL'
# Get the data, returns a tuple
# aapl_data is a pandas dataframe, aapl_meta_data is a dict
aapl_data, aapl_meta_data = ts.get_intraday(symbol=ticker) #for intraday price, ts.get_intraday. Daily price, ts.get_daily
# aapl_sma is a dict, aapl_meta_sma also a dict
aapl_sma, aapl_meta_sma = ti.get_sma(symbol=ticker)

In [3]:
df=aapl_data
# df.to_csv('priceData.csv')
#read data from the csv file
#df=pd.read_csv('priceData.csv').set_index(['date'])
df.head(15)

                      1. open   2. high    3. low  4. close  5. volume
date
2020-06-05 16:00:00  331.2100  331.8000  330.2000  331.6400  2317255.0
2020-06-05 15:45:00  331.4700  331.7500  331.1500  331.1800  1188071.0
2020-06-05 15:30:00  330.4400  331.5900  330.1026  331.4900  1197757.0
2020-06-05 15:15:00  330.2501  330.4700  329.8200  330.3900   622539.0
2020-06-05 15:00:00  330.1300  330.7100  330.0700  330.2450   615819.0
2020-06-05 14:45:00  330.0200  330.2400  329.2500  330.1500   849819.0
2020-06-05 14:30:00  329.8700  330.5500  329.7200  330.0200   635363.0
2020-06-05 14:15:00  330.3000  330.6900  329.7900  329.8510   636712.0
2020-06-05 14:00:00  330.8750  330.9900  330.1371  330.3100   527479.0
2020-06-05 13:45:00  330.6500  331.1200  330.6300  330.8900   803280.0
2020-06-05 13:30:00  329.8300  330.7200  329.8100  330.6476  1161093.0
2020-06-05 13:15:00  329.9200  330.0000  329.4600  329.8573   455133.0
2020-06-05 13:00:00  329.6400  330.0000  329.4700  329.9500   519764.0
2020-06-05 12:45:00  329.4233  330.0000  329.2800  329.6099   590967.0
2020-06-05 12:30:00  329.8100  329.8299  329.0200  329.4299   657158.0

In [4]:
# dfRatio = df[['1. open','2. high', '3. low','4. close']]/df['1. open'].iloc[-1]-1
# dfRatio

In [5]:
# %matplotlib inline 

# import plotly.graph_objects as go

# dfChart = dfRatio

# fig = go.Figure(data=[go.Candlestick(x=dfChart.index,
#                 open=dfChart['1. open'], high=dfChart['2. high'],
#                 low=dfChart['3. low'], close=dfChart['4. close'])
#                      ])

# #add xaxis_type='category' and fig.update_xaxes(autorange="reversed") to remove the datetime gaps
# fig.update_layout(xaxis_type='category', xaxis_rangeslider_visible=False, title_text=ticker)
# fig.update_xaxes(autorange="reversed")
# fig.show()

## IEX Cloud

api [doc](https://iexcloud.io/docs/api/#intraday-prices)

In [6]:
from urllib.request import urlopen
import json

def get_jsonparsed_data(url):
    """
    Receive the content of ``url``, parse it as JSON and return the object.

    Parameters
    ----------
    url : str

    Returns
    -------
    dict
    """
    response = urlopen(url)
    data = response.read().decode("utf-8")
    return json.loads(data)

In [7]:

ticker= 'AAPL'
date = '20200605'

iex_token = 'pk_aab0233961a945a7905e339c879ac064'

# intra day data
url = f"https://cloud.iexapis.com/stable/stock/{ticker}/chart/date/{date}?token={iex_token}"
data = get_jsonparsed_data(url)
# print is very long
# print(data)

## Financial modeling prep

In [ ]:

ticker= 'AAPL'
# date = '20200605'

fmp_token = '1bbd31162222e0cdf9fc8fa89e008c19'
url = f"https://financialmodelingprep.com///api/v3/historical-price-full/{ticker}?apikey={fmp_token}")
data = get_jsonparsed_data(url)
# print is very long
# print(data)