In [13]:
#data sources, etc
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import time

#screener
import finviz
from finviz.screener import Screener
import nest_asyncio #to workaround some errors
nest_asyncio.apply()

In [12]:
tickers=pd.read_csv('stock_list.csv')['Ticker']
tickers

0      SRTY
1       CAL
2       TEN
3      OSUR
4       APY
       ...
122     EFV
123    REXR
124     VNO
125    SMAR
126     KRE
Name: Ticker, Length: 127, dtype: object

In [14]:
# stock data API alpha_vantage, documentation https://www.alphavantage.co/documentation/
key = 'A6QPO3VBTX5UHOAU'
# Chose your output format, or default to JSON (python dict)
ts = TimeSeries(key, output_format='pandas')
ti = TechIndicators(key)


def compileTickersData(tickers):
    compiledData=pd.DataFrame()
    for ticker in tickers:
        data, meta_data = ts.get_intraday(symbol=ticker) #for intraday price, ts.get_intraday. Daily price, ts.get_daily
        data['ticker']=ticker
        compiledData=compiledData.append(data)
        time.sleep(12)
    compiledData=compiledData.rename(columns={'1. open':'open','2. high':'high','3. low':'low', '4. close':'close', '5. volume':'volume'})
    compiledData.to_csv('compiledData.csv')
    return compiledData


cData=compileTickersData(tickers)
cData

                     1. open  2. high  3. low  4. close  5. volume ticker
date
2020-06-08 16:00:00   9.5801    9.615    9.51     9.510   493476.0   SRTY
2020-06-08 15:45:00   9.6000    9.630    9.56     9.590   286957.0   SRTY
2020-06-08 15:30:00   9.6200    9.650    9.59     9.605   114534.0   SRTY
2020-06-08 15:15:00   9.5700    9.660    9.57     9.630    83371.0   SRTY
2020-06-08 15:00:00   9.5900    9.610    9.55     9.570    41627.0   SRTY
...                      ...      ...     ...       ...        ...    ...
2020-06-03 11:45:00  40.8500   41.060   40.84    40.920   440109.0    KRE
2020-06-03 11:30:00  40.7800   40.900   40.69    40.850   251793.0    KRE
2020-06-03 11:15:00  40.5700   40.840   40.53    40.780   591350.0    KRE
2020-06-03 11:00:00  40.6400   40.660   40.48    40.570   252190.0    KRE
2020-06-03 10:45:00  40.4200   40.650   40.40    40.640   777241.0    KRE

[12678 rows x 6 columns]

In [11]:
cData

                     1. open  2. high    3. low  4. close  5. volume ticker
date
2020-06-08 16:00:00   332.77  333.790  332.5400  333.5400  1804492.0   AAPL
2020-06-08 15:45:00   332.36  332.980  332.3000  332.7600   729346.0   AAPL
2020-06-08 15:30:00   332.56  332.784  332.2300  332.3400   439278.0   AAPL
2020-06-08 15:15:00   332.79  332.790  332.1600  332.5700   482290.0   AAPL
2020-06-08 15:00:00   332.71  332.960  332.3351  332.8000   508962.0   AAPL
...                      ...      ...       ...       ...        ...    ...
2020-06-03 11:45:00     8.58    8.680    8.5500    8.6200    40009.0    CAL
2020-06-03 11:30:00     8.70    8.740    8.5086    8.5700    90413.0    CAL
2020-06-03 11:15:00     8.75    8.760    8.6700    8.6747    42466.0    CAL
2020-06-03 11:00:00     8.49    8.800    8.4800    8.7400   167670.0    CAL
2020-06-03 10:45:00     8.48    8.530    8.4100    8.4850    21318.0    CAL

[200 rows x 6 columns]